<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/vendor/modernizr.min.js"></script>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

  <script src="data.js"></script>
  <link rel="stylesheet" type="text/css" href="demo.css">
</head>
<body>

  <div id="map" style="height:700px"></div>


  <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>
  <script src="mapmake.js"></script>
  <script>
  $(document).foundation();
  </script>
</body>
</html>
