<div id="map" style="height:700px"></div>


<script type="text/javascript">
var raw_waze = <%= @waze %>;
var alerts = raw_waze.alerts;
var points = [];
var causes = [];
for (var i = alerts.length - 1; i >= 0; i--) {
  points.push([alerts[i].location.y, alerts[i].location.x]);
  causes.push(alerts[i].type + "(" + alerts[i].location.y + "," + alerts[i].location.x + ")");
}
</script>

<script src="mapmake.js"></script>
