.fa {
  font-size: 24px;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
.fa-ambulance {
  color: red;
}
.fa-cloud {
  color: gray;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-tachometer {
  color: blue;
}
.fa-warning {
  color: yellow;
}

.leaflet-div-icon {
  background: none;
  border: none;
}
